@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-input {
    @apply p-3 text-sm bg-white border border-gray-200 rounded-md focus:outline-none text-black;
}

.error-message {
    @apply text-red-700 text-sm mt-1 font-normal;
}

.product-card-animation:hover {
    @apply -translate-y-3;
}

.heading {
    @apply text-3xl tracking-wide font-semibold mb-8 text-primary;
}

.swiper-pagination-bullet {
    @apply !bg-white;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    @apply w-2.5 h-2.5;
}
