@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-input {
    @apply p-3 text-sm bg-white border border-gray-200 rounded-md focus:outline-none text-black;
}
